.product {
  width: 400px;
  height: 350px;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}

.product-image {
  width: 300px;
  height: 210px;
}

.name {
  font-weight: bold;
}

.desc {
  font-size: 12px;
  color: rgb(62, 62, 62);
}

.interact {
  background-color: rgb(55, 122, 55);
  width: 20%;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.iconImage {
    width: 40px;
    height: 20px;
}

/* .heart-icon{
    width: 2px;
    height: 2px;
} */